<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testapp.HostMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.homestay.HOSTMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testapp.HostActivity"
            android:label="@string/title_activity_host"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.testapp.AdminLogin"
            android:label="@string/title_activity_admin_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.testapp.VisitorLogin"
            android:label="@string/title_activity_visitor_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <!--
             <activity
            android:name="com.example.testapp.HostMenu"
            android:label="@string/title_activity_host_menu" >
        </activity>
        -->
        <activity
            android:name="com.example.testapp.VisitorMenu"
            android:label="@string/title_activity_visitor_menu"
            android:parentActivityName="com.example.testapp.VisitorLogin" >
            <intent-filter>
                <action android:name="com.homestay.VISITORMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VisitorLogin" />
        </activity>
        <activity
            android:name="com.example.testapp.HostPref"
            android:label="@string/title_activity_host_pref"
            android:parentActivityName="com.example.testapp.HostMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HostMenu" />
        </activity>
        <activity
            android:name="com.example.testapp.VisitorPref"
            android:label="@string/title_activity_visitor_pref"
            android:parentActivityName="com.example.testapp.VisitorMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VisitorMenu" />
        </activity>
        <activity
            android:name="com.example.testapp.VisitorMenu2"
            android:label="@string/title_activity_visitor_menu2"
            android:parentActivityName="com.example.testapp.VisitorMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VisitorMenu" />
        </activity>
        <activity
            android:name="com.example.testapp.Wizard"
            android:label="@string/title_activity_wizard"
            android:parentActivityName="com.example.testapp.VisitorMenu2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VisitorMenu2" />
        </activity>
        <activity
            android:name="com.example.testapp.HostListActivity"
            android:label="@string/title_host_list" >
        </activity>
        <activity
            android:name="com.example.testapp.HostDetailActivity"
            android:label="@string/title_host_detail"
            android:parentActivityName="com.example.testapp.HostListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapp.HostListActivity" />
        </activity>
    </application>

</manifest>
